.neck {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: scaleX(-1);
  translate: -50% 10%;
  background: url(images/protogen/neck.png) no-repeat center top / contain;
  pointer-events: none;
  user-select: none;
}

.head {
  position: absolute;
  bottom: 87.5%;
  left: -50px;
  width: 206px;
  height: 206px;
  transform: rotate(calc(-15deg * var(--mouse-progress-y)));
  transform-origin: 60% 100%;
  background: url(images/protogen/head.png) no-repeat center top / contain;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1.3);
}

.ear {
  position: absolute;
  top: 11px;
  right: 33px;
  width: 124px;
  height: 113px;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}

.ear.left {
  transform: rotate(calc(-25deg * var(--mouse-progress-y))) scaleX(calc(0.975 - (0.025 * var(--mouse-progress-x))));
  transform-origin: 25% 75%;
  background: url(images/protogen/ear_left.png) no-repeat center top / contain;
}

.ear.right {
  z-index: 2;
  transform: rotate(calc(-5deg * var(--mouse-progress-y))) scaleX(calc(0.975 - (0.025 * var(--mouse-progress-x))));
  transform-origin: 75% 75%;
  background: url(images/protogen/ear_right.png) no-repeat center top / contain;
}

.hair {
  z-index: 1;
  position: absolute;
  top: 61px;
  right: 83px;
  width: 93px;
  height: 80px;
  transform: translateX(calc(-2px * var(--mouse-progress-x))) scaleX(calc(0.975 - (0.025 * var(--mouse-progress-x))));
  background: url(images/protogen/hair.png) no-repeat center top / contain;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}

.visor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 206px;
  height: 206px;
  transform: translateX(calc(-5px * var(--mouse-progress-x))) scaleX(calc(0.975 + (0.025 * var(--mouse-progress-x))));
  background: url(images/protogen/visor.png) no-repeat center top / contain;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}

.visor-mask {
  -webkit-mask: url(images/protogen/head_mask.svg) no-repeat center top / contain;
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 136px;
  height: 94px;
  transform: translateX(calc(-5px * var(--mouse-progress-x))) scaleX(calc(0.975 + (0.025 * var(--mouse-progress-x))));
  mask: url(images/protogen/head_mask.svg) no-repeat center top / contain;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}

#eyes {
  position: absolute;
  right: 25%;
  bottom: 48%;
  width: 174px;
  transform: translate(calc(-8px * var(--mouse-progress-x)), calc(5px * var(--mouse-progress-y)));
  transform-origin: bottom center;
}

#mouth {
  position: absolute;
  right: 35%;
  bottom: -7%;
  width: 161px;
  height: 48px;
  object-fit: contain;
  transform: translate(calc(-5px * var(--mouse-progress-x)), calc(10px * var(--mouse-progress-y)));
  transform-origin: 50% 30%;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}

#nose {
  position: absolute;
  bottom: 25%;
  left: -5%;
  width: 28px;
  height: 10px;
  transform: translate(calc(-7px * var(--mouse-progress-x)), calc(5px * var(--mouse-progress-y)));
  transform-origin: top center;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}

.visor-shine {
  position: absolute;
  top: -35%;
  right: 0;
  width: 282px;
  height: 117px;
  transform: translateX(calc(-30px * var(--mouse-progress-x))) scaleX(calc(0.975 + (0.025 * var(--mouse-progress-x))));
  background: url(images/protogen/visor_shine.png) no-repeat center top / contain;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 2);
}
